# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
.venv-m3/
venv/
env/

# Airflow local state
airflow.db
airflow.cfg
logs/
webserver_config.py

# MLflow local state (if you store locally)
mlartifacts/

# OS/editor
.DS_Store
.vscode/
